[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = green
  remote = red
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  st = status -sb
  ci = commit
  co = checkout
  br = branch
  df = diff
  dfc = diff --cached
  pr = pull --rebase
  ps = push
  onelog = log -p -1 --abbrev-commit
  ld = log --graph --decorate --all
  l = log --graph --oneline --decorate --all
  hub = !git remote -v | sed "'s|.*git[:@]\\(.*\\).git.*|http://\\1|;s|m:|m/|'" | uniq | xargs open
  ignore = !git-ignore
[user]
  name = Ruoran Liu
  email = rrliu@thoughtworks.com
