[submodule ".vim/bundle/bufstop"]
	path = .vim/bundle/bufstop
	url = git@github.com:mihaifm/bufstop.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-css"]
	path = .vim/bundle/vim-css
	url = git@github.com:lepture/vim-css.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = git@github.com:wavded/vim-stylus.git
