[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = green
  remote = red
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  st = status -sb
  ci = commit
  co = checkout
  br = branch
  df = diff
  onelog = log -p -1 --abbrev-commit
  ld = log --graph --decorate --all
  l = log --graph --oneline --decorate --all
[user]
  name = Ruoran Liu
  email = rrliu@thoughtworks.com
